SimpleCRUD.Presentation.WinSite/Connected Services/StudentRemoteServiceReference/StudentRemoteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleCrud.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleCrud.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentDTO" nillable="true" type="tns:StudentDTO" />
  <xs:complexType name="ArrayOfStudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentDTO" nillable="true" type="tns:StudentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentDTO" nillable="true" type="tns:ArrayOfStudentDTO" />
</xs:schema>